/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #011b1b;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: rgba(3, 3, 45, 0.36);
}

#reel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 20px;
}

#reel_body {
  width: 460px;
  padding: 20px 10px;
}

#reel_box {
  position: relative;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 300px;
}

#banner_reel {
  position: relative;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 300px;
}
#trailer_box {
  position: absolute;
  top: 20px;
  left: 640px;
  width: 280px;
  height: 260px;
  background: #e2e2e2;
  border-radius: 8px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

#trailer_box_title {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#trailer {
  position: relative;
  width: 500px;
  height: 400px;
}

input {
  height: 55px;
}

#year {
  height: 23px;
}

.benvenuto {
  font-size: 2.2rem;
  font-weight: 500;
}

.logo {
  height: 170px;
  width: 300px;
}

.login {
  display: flex;
}

.search__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(66, 73, 167);
  transition: all 0.3s;
}

.search__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.search__input::placeholder {
  color: rgba(0, 1, 64, 0.703);
}

.search-results {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.search-results:hover,
.search-results:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

label {
  font-size: 1.7rem;
}

h3 {
  font-size: 20px;
}

.result-item img,
.result-item2 img,
.result-item3 img,
.result-item4 img,
.result-item5 img,
.result-item6 img,
.result-item7 img,
.result-item8 img,
.result-item9 img,
.result-item10 img {
  width: 227px;
  height: auto;
  margin-bottom: 50px;
  margin-right: 50px;
}

#results {
  display: inline-flex;
  flex-wrap: wrap;
}

.newsletter {
  position: relative;
  font-size: 12px;
  width: 100%;
  height: auto;
}

foglio di stile dello user agent section {
  display: block;
}

.newsletter_body {
  position: relative;
  top: 0px;
  left: 0px;
  width: 940px;
  height: auto;
  margin: 0 auto;
  background: rgba(3, 3, 45, 0.36);
  padding: 20px;
  border-top: 1px solid #626069;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 20px;
}

.newsletter_text div,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
}

.navbar-link {
  color: #fff; /* Imposta il colore del testo su bianco */
  text-decoration: none; /* Rimuove il sottolineato dai link */
  padding: 10px 15px; /* Aggiunge spazio intorno ai link */
  font-size: 22px;
  transition: background-color 0.3s ease; /* Aggiunge una transizione fluida al cambio di colore di sfondo */
}

.navbar-link:hover {
  background-color: #555; /* Cambia il colore di sfondo quando il mouse passa sopra */
}

.navbar-list {
  list-style-type: none; /* Rimuove i pallini dalla lista */
}
