/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  background-color: white;
  height: 100vh;
  padding: 2rem;
}

.logo {
  height: 55px;
  width: 160px;
}
.logo-item {
  margin-right: 150px; /* Aggiunge spazio tra il logo e le opzioni di navigazione */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(3, 3, 45, 0.36);
}

ul#menu {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
}
ul#menu li {
  background-color: rgba(3, 3, 45, 0.36);
  border-bottom: 5px solid rgba(3, 3, 45, 0.36);
  display: block;
  width: 150px;
  height: 30px;
  margin: 2px;
  float: left; /* elementi su singola riga */
}
ul#menu li a {
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
  width: 150px;
  height: 30px;
  text-align: center;
}

ul#menu li:hover {
  background-color: rgb(2, 2, 59); /* Cambia il colore di sfondo */
  border-bottom: 5px solid transparent; /* Nascondi la linea di fondo */
}

ul#menu li a:hover {
  color: white; /* Cambia il colore del testo */
}

input {
  height: 39px;
}

#year {
  height: 23px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgba(3, 3, 45, 1.36);
}

.lente {
  height: 20px;
  margin-right: 220px;
}

#lente:hover {
  fill: white; /* Cambia il colore quando passi il mouse sopra la lente */
  cursor: pointer; /* Cambia il cursore del mouse */
}

.search__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 6rem;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(66, 73, 167);
  transition: all 0.3s;
}

.search__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.search__input::placeholder {
  color: rgba(3, 3, 45, 0.36);
}

.search-results {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.search-results:hover,
.search-results:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

label {
  color: white;
  font-size: 1.7rem;
  padding: 10px;
}

.principale {
  background-color: rgba(3, 3, 45, 0.36);
}

#results {
  display: inline-flex;
  flex-wrap: wrap;
  color: black;
  font-size: 15px;
  margin: 138px;
}

.titolo {
  background-color: rgba(3, 3, 45, 1.36);
  color: white;
  font-size: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: 25px;
}

h3 {
  font-size: 20px;
}

.result-item img,
.result-item2 img,
.result-item3 img,
.result-item4 img,
.result-item5 img,
.result-item6 img,
.result-item7 img,
.result-item8 img,
.result-item9 img,
.result-item10 img,
.result-item11 img,
.result-item12 img,
.result-item13 img,
.result-item14 img,
.result-item15 img,
.result-item16 img {
  width: 227px;
  height: 330px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.newsletter {
  position: relative;
  font-size: 12px;
  background-color: rgba(3, 3, 45, 1.36);
  width: 100%;
  height: auto;
}

.newsletter_body {
  position: relative;
  top: 0px;
  left: 0px;
  width: 940px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid #626069;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 20px;
}

.newsletter_text div,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
}

.navbar-link {
  color: #fff; /* Imposta il colore del testo su bianco */
  text-decoration: none; /* Rimuove il sottolineato dai link */
  padding: 10px 15px; /* Aggiunge spazio intorno ai link */
  font-size: 22px;
  transition: background-color 0.3s ease; /* Aggiunge una transizione fluida al cambio di colore di sfondo */
}

.navbar-link:hover {
  background-color: rgb(
    157,
    151,
    151
  ); /* Cambia il colore di sfondo quando il mouse passa sopra */
}

.navbar-list {
  list-style-type: none; /* Rimuove i pallini dalla lista */
}

.social {
  margin: 2px;
  padding: 2px;
}
